<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangdd.testcenter.mapper.RequirementInfoMapper">
	<resultMap id="RequirementInfoResultMap" type="RequirementInfo">
		<id property="requirementId" column="id" />
		<result property="versionInfo" column="version_info" />
		<result property="resource" column="resource" />
		<result property="requirementInfo" column="requirement_info" />
		<result property="planStartTime" column="plan_start_time" />
		<result property="versionReleaseTime" column="version_release_time" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<association property="user" javaType="User">
			<id property="userId" column="userId" />
			<result property="trueName" column="trueName" />
		</association>
		<association property="department" javaType="Department">
			<id property="departmentId" column="departmentId" />
			<result property="name" column="departmentName" />
		</association>
		<association property="team" javaType="Team">
			<id property="teamId" column="teamId" />
			<result property="name" column="teamName" />
		</association>
		<association property="project" javaType="ProjectInfo">
			<id property="projectId" column="projectId" />
			<result property="projectName" column="projectName" />
		</association>
	</resultMap>

	<sql id="RequirementInfoColumnSQL">
		t_requirement_info.id,
		t_requirement_info.version_info,
		t_requirement_info.resource,
		t_requirement_info.requirement_info,
		t_requirement_info.plan_start_time,
		t_requirement_info.version_release_time,
		t_requirement_info.create_time,
		t_requirement_info.update_time
	</sql>

	<sql id="UserColumnSQL">
		t_user.id as userId,
		t_user.true_name as trueName
	</sql>

	<sql id="DepartmentColumnSQL">
		t_department.id as departmentId,
		t_department.name as
		departmentName
	</sql>

	<sql id="TeamColumnSQL">
		t_team.id as teamId,
		t_team.name as teamName
	</sql>

	<sql id="ProjectInfoColumnSQL">
		t_project_info.id as projectId,
		t_project_info.project_name
		as projectName
	</sql>

	<sql id="joinSql">
		from t_requirement_info
		left join t_user
		on
		t_requirement_info.user_id = t_user.id
		left join t_department
		on
		t_requirement_info.department_id = t_department.id
		left join t_team
		on
		t_requirement_info.team_id = t_team.id
		left join t_project_info
		on
		t_requirement_info.project_id = t_project_info.id
	</sql>

	<sql id="selectConditionSql">
		<if
			test="requirementInfo.user != null and requirementInfo.user.trueName !=''">
			and t_user.true_name like
			'%${requirementInfo.user.trueName}%'
		</if>
		<if
			test="requirementInfo.department != null and requirementInfo.department.departmentId > 0">
			and
			t_requirement_info.department_id =
			#{requirementInfo.department.departmentId}
		</if>
		<if test="requirementInfo.team != null and requirementInfo.team.teamId > 0">
			and
			t_requirement_info.team_id=#{requirementInfo.team.teamId}
		</if>
		<if
			test="requirementInfo.project != null and requirementInfo.project.projectId > 0">
			and
			t_requirement_info.project_id=#{requirementInfo.project.projectId}
		</if>
		<if
			test="requirementInfo.resource != null and requirementInfo.resource !=''">
			and t_requirement_info.resource like
			'%${requirementInfo.resource}%'
		</if>
		<if
			test="requirementInfo.startTime != null and requirementInfo.startTime !=''">
			and
			t_requirement_info.create_time &gt;=
			#{requirementInfo.startTime}
		</if>
		<if test="requirementInfo.endTime != null and requirementInfo.endTime !=''">
			and
			t_requirement_info.create_time &lt;=
			#{requirementInfo.endTime}
		</if>
		<if
			test="requirementInfo.planTestStartTime != null and requirementInfo.planTestStartTime !=''">
			and
			t_requirement_info.plan_start_time &gt;=
			#{requirementInfo.planTestStartTime}
		</if>
		<if test="requirementInfo.planTestEndTime != null and requirementInfo.planTestEndTime !=''">
			and
			t_requirement_info.plan_start_time &lt;=
			#{requirementInfo.planTestEndTime}
		</if>
		<if
			test="requirementInfo.versionReleaseStartTime != null and requirementInfo.versionReleaseStartTime !=''">
			and
			t_requirement_info.version_release_time &gt;=
			#{requirementInfo.versionReleaseStartTime}
		</if>
		<if test="requirementInfo.versionReleaseEndTime != null and requirementInfo.versionReleaseEndTime !=''">
			and
			t_requirement_info.version_release_time &lt;=
			#{requirementInfo.versionReleaseEndTime}
		</if>
	</sql>

	<insert id="addRequirementInfo" useGeneratedKeys="true"
		keyProperty="requirementInfo.requirementId">
		insert into t_requirement_info (
		user_id,
		department_id,
		team_id,
		project_id,
		version_info,
		resource,
		requirement_info,
		<if
			test="requirementInfo.planStartTime != null and requirementInfo.planStartTime !=''">
			plan_start_time,
		</if>
		<if
			test="requirementInfo.versionReleaseTime != null and requirementInfo.versionReleaseTime !=''">
			version_release_time,
		</if>
		create_time,
		update_time
		)
		values (
		#{requirementInfo.user.userId},
		#{requirementInfo.department.departmentId},
		#{requirementInfo.team.teamId},
		#{requirementInfo.project.projectId},
		#{requirementInfo.versionInfo},
		#{requirementInfo.resource},
		#{requirementInfo.requirementInfo},
		<if
			test="requirementInfo.planStartTime != null and requirementInfo.planStartTime !=''">
			#{requirementInfo.planStartTime},
		</if>
		<if
			test="requirementInfo.versionReleaseTime != null and requirementInfo.versionReleaseTime !=''">
			#{requirementInfo.versionReleaseTime},
		</if>
		NOW(),
		NOW()
		)
	</insert>

	<update id="updateRequirementInfo">
		update t_requirement_info
		set
		t_requirement_info.team_id =
		#{requirementInfo.team.teamId},
		t_requirement_info.project_id =
		#{requirementInfo.project.projectId},
		t_requirement_info.version_info =
		#{requirementInfo.versionInfo},
		t_requirement_info.resource =
		#{requirementInfo.resource},
		t_requirement_info.requirement_info =
		#{requirementInfo.requirementInfo},
		<if
			test="requirementInfo.planStartTime == null or requirementInfo.planStartTime ==''">
			t_requirement_info.plan_start_time=null,
		</if>

		<if
			test="requirementInfo.planStartTime != null and requirementInfo.planStartTime !=''">
			t_requirement_info.plan_start_time=#{requirementInfo.planStartTime},
		</if>

		<if
			test="requirementInfo.versionReleaseTime == null or requirementInfo.versionReleaseTime ==''">
			t_requirement_info.version_release_time=null,
		</if>

		<if
			test="requirementInfo.versionReleaseTime != null and requirementInfo.versionReleaseTime !=''">
			t_requirement_info.version_release_time=#{requirementInfo.versionReleaseTime},
		</if>
		t_requirement_info.update_time=NOW()
		where
		t_requirement_info.id=#{requirementInfo.requirementId}
	</update>

	<delete id="deleteRequirementInfo">
		delete
		from
		t_requirement_info
		where
		t_requirement_info.id = #{requirementId}
	</delete>

	<select id="getRequirementInfoCount" resultType="int">
		select count(1)
		<include refid="joinSql" />
		where 1 = 1
		<include refid="selectConditionSql" />
	</select>

	<select id="getRequirementInfoList" resultMap="RequirementInfoResultMap">
		select
		<include refid="RequirementInfoColumnSQL" />
		,
		<include refid="UserColumnSQL" />
		,
		<include refid="DepartmentColumnSQL" />
		,
		<include refid="TeamColumnSQL" />
		,
		<include refid="ProjectInfoColumnSQL" />
		<include refid="joinSql" />
		where
		1 = 1
		<include refid="selectConditionSql" />
		order by t_requirement_info.create_time desc
		limit
		#{begin},#{size}
	</select>

	<select id="getRequirementInfoById" resultMap="RequirementInfoResultMap">
		select
		<include refid="RequirementInfoColumnSQL" />
		,
		<include refid="UserColumnSQL" />
		,
		<include refid="DepartmentColumnSQL" />
		,
		<include refid="TeamColumnSQL" />
		,
		<include refid="ProjectInfoColumnSQL" />
		<include refid="joinSql" />
		where
		t_requirement_info.id = #{requirementId}
	</select>

	<select id="getRequirementInfoExportList" resultMap="RequirementInfoResultMap">
		select
		<include refid="RequirementInfoColumnSQL" />
		,
		<include refid="UserColumnSQL" />
		,
		<include refid="DepartmentColumnSQL" />
		,
		<include refid="TeamColumnSQL" />
		,
		<include refid="ProjectInfoColumnSQL" />
		<include refid="joinSql" />
		where
		1 = 1
		<include refid="selectConditionSql" />
		order by t_requirement_info.department_id
		desc,t_requirement_info.team_id
		desc,t_requirement_info.project_id
		desc,t_requirement_info.create_time desc
	</select>
</mapper> 